.menu-header {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  background-color: white;
  position: fixed;
  transition: all .5s cubic-bezier(.4, 0, .2, 1);
  z-index: 200;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .17), 0 3px 6px rgba(0, 0, 0, .23);
  margin: auto;
  box-sizing: border-box;
}

.menu-item {
  position: relative;
  width: auto;
  height: 42px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  font-size: large;
}

.menu-button {
  text-decoration: none;
  color: black;
  padding: 14px;
}

.menu-button:hover {
  background-color: black;
  color: white;
}