.menu-header.menu-header-transition {
  top: 0;
}

.menu-header {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  background-color: white;
  position: fixed;
  transition: all .5s cubic-bezier(.4, 0, .2, 1);
  z-index: 200;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .17), 0 3px 6px rgba(0, 0, 0, .23);
  margin: auto;
  box-sizing: border-box;
}

.menu-item {
  position: relative;
  width: auto;
  height: 42px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  font-size: large;
}

.menu-button {
  text-decoration: none;
  color: black;
  padding: 14px;
}

.menu-button:hover {
  background-color: black;
  color: white;
}

.koala {
  position: relative;
  margin: 10px;
  display: block;
  width: 60px;
  height: 42px;
  background: none;
}

.head {
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #cf9882;
  border-radius: 50%;
}

.head-copy {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #cf9882;
  border-radius: 50%;
  z-index: 2;
}

.ear-left {
  position: absolute;
  width: 60%;
  height: 65%;
  left: -36%;
  top: 5%;
  background: #cf9882;
  border-radius: 50%;
  z-index: 1;
}

.ear-right {
  position: absolute;
  width: 60%;
  height: 65%;
  right: -36%;
  top: 5%;
  background: #cf9882;
  border-radius: 50%;
  z-index: 1;
}

.inner-ear {
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: #d0d9e0;
}

.eye-left {
  position: absolute;
  background: white;
  width: 33%;
  height: 33%;
  top: 25%;
  left: 20%;
  border-radius: 50%;
  z-index: 3;
}

.eye-right {
  position: absolute;
  background: white;
  width: 26%;
  height: 26%;
  top: 30%;
  right: 23%;
  border-radius: 50%;
  z-index: 3;
}

.pupil {
  position: absolute;
  width: 28%;
  height: 30%;
  top: 35%;
  left: 36%;
  border-radius: 50%;
  background: #27354A;
}

.nose {
  position: absolute;
  background: #3f291b;
  width: 25%;
  height: 30.5%;
  left: 37%;
  top: 45%;
  border-radius: 14px;
  z-index: 4;
}

.hair-left {
  position: absolute;
  top: -4%;
  left: 30%;
  width: 20%;
  height: 20%;
  background: #cf9882;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.hair-right {
  position: absolute;
  top: -8%;
  left: 48%;
  width: 25%;
  height: 20%;
  background: #cf9882;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
